name: CI/CD Pipeline - OKR 2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./spring-boot-oauth2-backend # Ajusta si tu carpeta se llama distinto
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn clean verify -DskipTests # Quitaremos el skipTests en el OKR 3

  # Job para el Frontend (Angular)
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./angular-google-oauth2-frontend # Ajusta si tu carpeta se llama distinto
        
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
        
    - name: Install Dependencies
      run: npm ci --legacy-peer-deps
      
    - name: Build Angular App
      run: npm run build -- --configuration production